html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #333;
    color: #555;
    -webkit-font-smoothing: antialiased;
}

#page-wrapper {
    width: 720px;
    background: #FFF;
    padding: 1em;
    margin: 1em auto;
    min-height: 300px;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
    margin-top: 0;
    line-height: 1.3em;
    color: #1E1E1E;
}

h2 {
    font-weight: normal;
    font-size: 1.4em;
    margin: 1.5em 0 0.5em;
    color: #1E1E1E;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0 1em;
    text-align: center;
}

button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

div,
p {
    line-height: 1.6em;
}

section div {
    padding: 1em;
    background: #E6E6E6;
    border-radius: 3px;
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;*/
    outline: none;
    border: 2px solid transparent;
}

section div:focus {
    background: #FFF;
    border-color: #69c773;
}
